body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    position: relative;
    overflow: hidden;
}

.slideshow-container {
    position: relative;
    height: calc(100vh);
    overflow: hidden;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1s ease;
}

.slide.active {
    opacity: 1;
}

.download-link {
    position: absolute;
    bottom: 50px; /* Adjusted position to move it up slightly */
    right: 20px;
    text-align: right;
    z-index: 2; /* Add a higher z-index to ensure it's above the slideshow */
}

.download-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    padding: 10px;
    z-index: 2; /* Add a higher z-index to ensure it's above the slideshow */
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    color: #fff;
    z-index: 2; /* Add a higher z-index to ensure it's above the slideshow */
}
